In [1]:
import pandas as pd

In [2]:
data = [
    ['T1','Com1',1200],
    ['T2','Com2',2200], 
    ['T3','Com3',3200]
]

In [4]:
cols = ["Na","TY","PC"]

df = pd.DataFrame(data,columns=cols)
df

   Na    TY    PC
0  T1  Com1  1200
1  T2  Com2  2200
2  T3  Com3  3200