In [1]:
import pandas as pd

In [4]:
data = [
    {"Name":"PC","Category":"IT","Price":500},
    {"Name":"PC","Category":"IT","Price":300},
    {"Name":"PC","Category":"IT","Price":600}
]

In [5]:
df=pd.DataFrame(data)
df

  Name Category  Price
0   PC       IT    500
1   PC       IT    300
2   PC       IT    600

In [8]:
df.set_index(["Name"],inplace=True)

In [9]:
df

     Category  Price
Name
PC         IT    500
PC         IT    300
PC         IT    600