In [1]:
import pandas as pd

In [7]:

item1 =['T1','T2','T3']
item2 =['PC1','PC2','PC3']
item3 =['1000','2000',3000]
datas = list(zip(item1,item2,item3))

In [8]:
cols = ["NA","TY","PC"]
df = pd.DataFrame(datas,columns=cols)
df

   NA   TY    PC
0  T1  PC1  1000
1  T2  PC2  2000
2  T3  PC3  3000